# ==========================================
# XOM BANK CONFIGURATION
# ==========================================

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=xombank.transactions.raw
KAFKA_TOPIC_PARTITIONS=3
KAFKA_TOPIC_REPLICATION=1

# MinIO (Data Lake) Configuration
MINIO_ENDPOINT=localhost:9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=xombank-datalake

# Google Cloud / BigQuery Configuration
GCP_PROJECT_ID=xombank-fraud-analytics
BIGQUERY_DATASET=xombank_dw
GOOGLE_APPLICATION_CREDENTIALS=./gcp_key.json

# Local Serving (DuckDB / SQLite)
DUCKDB_PATH=./data/fraud_scores.duckdb
